@media screen and (max-width: 1500px) {
    .input-group {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 600px) {
    .heading {
        max-width: unset;

        &__front {
            top: 0;
        }
    }

    .calc-wrp {
        max-width: 100%;
    }

    .calc__forms .input--short {
        width: 46%;
        margin: 0 .5em 1em 0;
    }

    .input-group {
        align-items: flex-start;
    }

    .tarifs {
        flex-direction: column;

        &__nav {
            margin: 0 0 3em 0;
        }
    }

    .tarifs-table-wrp {
        margin-bottom: 2em;
    }

    .tarifs__table .table__col {
        margin-right: 0.6em;
    }

    .table__col:first-of-type {
        .col {
            width: max-content;
        }
    }
}