.drop-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.heading__text {
    margin: 2em 0 7em 0;
    text-align: center;
}

.calc {
    h1 { 
        text-align: center;
        margin: 1.3em 0;
    }

    .btn-dark {
        border-radius: 20px;
        margin-top: 1em;
    }
}

.calc__forms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .btn-dark {
        align-self: flex-end;
    }

    .input--short {
        margin: 0 .5em;
    }

    input {
        width: 12em;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__title {
    margin-bottom: .5em;
}

.calc-wrp {
    max-width: 83%;
    margin: 0 auto;

    > div {
        margin-bottom: 3em;
    }
}

.calc__forms .input-group:nth-child(2) {
    .input--short {
        width: 116px;
    }
}

.input-group .blue-rounded {
    margin-bottom: 1em;
}

.calc__total {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .input-group:nth-child(2),
    .input-group:nth-child(3) {
        text-align: center;
    }

    .input-group {
        flex: 1;
        &:nth-of-type(2) {
            padding: 0 4em;
        }

        .btn-dark {
            width: 100%;
        }
    }

    .input--short__wrp {
        width: 100%;
    }
}

.tarifs {
    display: flex;

    &__nav {
        margin-right: 1.6em;

        h1 {
            margin: .2em;
        }
    }
}

.nav__wrp {
    .nav__tab {
        padding: 1em 1.5em;
        cursor: pointer;
        transition: all .1s ease-in-out;
    }

    .tab--active {
        background-color: #0E4367;
        color: white;
    }
}

.tarifs-table-wrp {
    width: 100%;
    overflow: auto;
}

.tarifs__table {
    padding-bottom: 1em;
    display: none;
    width: 100%;

    &:nth-of-type(1) {
        display: flex;
    }

    .table__col {
        margin-right: 1.6em;

        &:nth-of-type(1) {
            flex: 3;

            .col__name {
                text-align: left;
            }
        }
        &:nth-of-type(n+2) {
            flex: 1;
            text-align: center;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.col {
    font-size: 14px; 

    &__name {
        height: 4em;
        display: block;
        text-align: center;
    }

}

.fulfillment {
    .nav__tab:nth-child(3), 
    .nav__tab:nth-child(n+5):nth-child(even) {
    background: #B9C8D3;
    }
    .nav__tab:nth-child(1), 
    .nav__tab:nth-child(4) {
    background-color: #0E4367;
    color: white;
    }
}

.shipment {
    .nav__tab:nth-child(4n + 1) {
        background-color: #0E4367;
        color: white;
    }
    .nav__tab:nth-child(4n-1) {
        background: #B9C8D3;
    }
}

.sms, .call {
    .nav__tab:first-child {
        background-color: #0E4367;
        color: white;
    }
}

.btn-wrp {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
}

.download {
    align-self: flex-end;
    border-radius: 19px;
    font-size: 20px;
}