@media screen and (max-width: 800px) {
    .heading__text {
        max-width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .heading__front {
        top: 0%;
    }

    .heading__text {
        margin-top: 2em;
        text-align: center;
    }
}