header {
    height: 95vh;
    background: linear-gradient(180deg, #001741 0%, #2FA9C0 100%);
    color: white;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;

    .logo {
        height: 3em;
        margin-top: -1.5em;
    }
}

.menu {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-right: 4em;
    font-weight: 500;

    &__links {
        text-transform: uppercase;
        display: flex;
    }

    * {
        margin-right: 1em;
    }

    &__link:last-of-type, &:last-child {
        margin-right: 0;
    }
}

.hamburger {
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    max-width: 23%;
    margin: 10% 12% 0;

    img {
        width: 20em;
        position: relative;
        top: -1.5em;
        left: -2.5em;
        padding: 0.5em 0;
    }

    &__capt {
        font-size: 2em;
        line-height: 1.2;
        margin-bottom: 0.4em;
    }

    button {
        align-self: flex-end;
    }

    hr {
        width: 29%;
        height: 3px;
        margin: 0;
        background-color: white;
        position: relative;
        top: -1em;
    }
}

.header__map {
    top: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
}

.header__waves {
    z-index: 5;
    width: 100%;
    bottom: -5px;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;

    .waves {
        width: 100%;
    }

    .mouse {
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translate(-50%, 0)
    }
}

.feature {
    margin-top: 3.8em;
}

.heading {
    position: relative;
    text-align: center;

    &__back {
        display: block;
        text-transform: uppercase;
        color: rgba(61, 167, 189, 0.1);
        letter-spacing: 0.2em;
        font-size: 7vw;
        font-weight: bold;
        text-align: center;
    }

    &__front {
        color: #000000;
        font-weight: bold;
        font-size: 24px;
        position: relative;
        top: -6vw;
    }
}

.results__wrp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.results__card {
    flex: 1;
    margin-bottom: 2em;
    padding: 0 1.7em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 216px;

    .icon {
        height: 3em;
    }

    .number {
        margin: 13px 0;
        font-weight: 500;
        font-size: 36px;
        color: #0E4367;
    }
}

.services__wrp {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(321px, 1fr));
    grid-gap: 5em 6em;
}

.service {
    padding: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    &__name {
        font-weight: bold;
        font-size: 18px;
        margin: 1em 0;
    }
    &__icon {
        margin-top: -2.3em;
    }
    &__more {
        padding-top: 3.5em;
        font-weight: 500;
        font-size: 14px;
        align-self: flex-end;
    }
}

.service-orange {
    .service__name, .service__more {
        color: #F44336;
    }
}

.service-purple {
    .service__name, .service__more {
        color: #9C27B0;
    }
}

.service-blue {
    .service__name, .service__more {
        color: #3F51B5;
    }
}

.service-lblue {
    .service__name, .service__more {
        color: #03A9F4;
    }
}

.service-green {
    .service__name, .service__more {
        color: #009688;
    }
}

.service-lgreen {
    .service__name, .service__more {
        color: #8BC34A;
    }
}

.comparison__wrp {
    display: flex;
}

.comparison-left {
    flex: 1.5;
    position: relative;
    margin-top: -5em;

    .bg {
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 5em;
    }

    .points-wrp {
        display: flex;
        margin-top: 20.6em;
    }

    .plane {
        position: absolute;
        transform: translate(-50%, -103%);
        z-index: -1;
        left: 50%;
    }

    .shuttle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .points {
        position: relative;
        margin: 0 23px;
        max-width: 20em;
        padding: 18px;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        display: inline-block;

        h3 {
            text-align: center;
            margin-bottom: 18px;
        }

        li {
            display: flex;
            align-items: center;
            margin-bottom: 27px;
            img {
                margin-right: 15px;
            }
        }

        &__logo {
            height: 3em;
            display: block;
            margin: -1em auto;
            margin-bottom: 15px;
        }
    }

    .btn-join {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -5.3em;
    }
}

.comparison-right {
    flex: 1;
    margin-left: 6%;
}

.price {
    h3 {
        padding: 1em 0;
    }

    .total {
        margin-right: 1em;
        display: block;
        text-align: right;
        font-weight: bold;
        font-size: 64px;
        color: #0E4166;
    }

    img {
        width: -webkit-fill-available;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
        margin: .7em 0;
        font-size: 2em;
    }

    h4 {
        font-size: 24px;
    }

    &__title {
        text-align: center;
        margin-bottom: 1em;
        font-size: 24px;
    }

    &__text {
        line-height: 29px;
        max-width: 50%;
    }

    .callback {
        max-width: 17em;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type="text"] {
        font-family: 'Montserrat';
        color: #828282;
        padding: 0.5em 1em;
        width: 82%;
        margin: .7em 0;
        font-size: 24px;
        background: #FFFFFF;
        border: 2px solid #0E4367;
        box-sizing: border-box;
        border-radius: 50px;
    }

    input[type="checkbox"] {
        position: absolute;
        left: 0;
    }

    .checkbox {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 60%;
        text-align: left;

        .description {
            cursor: pointer;
            padding-left: 2.3em;
            font-size: 12px;
        }
    }
}

.footer {
    font-family: 'Roboto';
    color: white;
    position: relative;
    margin-top: 3em;
    background: linear-gradient(180deg, #2FA9C0 0%, #001741 100%);

    .waves {
        position: relative;
        transform: rotate(180deg);
        width: 100%;
        top: -3px;
    }

    .btn-dark {
        position: absolute;
        top: -1.5em;
        left: 50%;
        transform: translate(-50%);
        border: 10px solid white;
    }

    &__logo-wrp {
        display: flex;
        justify-content: center;
    }

    &__logo {
        position: relative;
        top: -14vw;
        width: 15em;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        max-width: 73%;
        margin: 0 auto;
        padding-bottom: 6em;
    }

    &__copyr {
        color: rgba(255, 255, 255, 0.45);
        font-weight: 500;
        font-size: 18px;
        span {
            color: white;
        }
    }

    &__langs {
        font-size: 24px;
        font-weight: bold;
        :last-child {
            font-weight: normal;
            margin-left: 1em;
        }
    }

    .social {
        display: flex;
        align-items: center;

        > * {
            padding-right: 25px;
        }

        a:last-of-type {
            padding: 0;
        }
    }

}

.footer-links {
    background-color: #1E4164;
    padding: 2em 0;
    font-size: 14px;
    ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    li {
        padding: 1em;
    }
}