html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {outline:none}

body {
    line-height: 1.4;
}

button {
    font: 500 16px 'Montserrat';
    background: none;
    border-radius: 50px;
    padding: 1em 2em;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}