@media screen and (max-width: 1680px) {
    .comparison__wrp {
        align-items: center;
        flex-direction: column;
    }

    .comparison-left {
        margin-bottom: 8em;
    }

    .comparison-right {
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        min-width: 90%;
    }

    nav {
        display: flex;
    }

    .menu {
        padding-right: 0;
    }

    .hero {
        max-width: 33%;
    }

    .contact__text {
        max-width: 100%;
    }

    .services__wrp {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}

@media screen and (max-width: 800px) {
    .hero {
        max-width: 100%;
    }

    .menu__links {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0);
    }

    .links-visible {
        padding: 7em 4em 0 1.6em;
        background: white;
        transform: translate(0, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        height: 100%;
        width: auto;
        z-index: 1;

        .menu__link {
            padding-bottom: 1em;
            a {
                color: black;
            }
        }
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 1.7em;
        left: 0.3em; 
        z-index: 20;
    }

    .footer__bottom {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer {
        .links {
            max-width: 100%;
            justify-content: center;
            margin: 2em 0 4em;
        }
    }
}

@media screen and (max-width: 700px) {
    header {
        height: 71vh;
    }
    
    .price {
        img {
            width: 90vw;
        }
    }
}

@media screen and (max-width: 500px) {
    nav {
        flex-direction: column;

        .logo {
            margin-bottom: 1em;
        }
    }

    .comparison-left {
        .points-wrp {
            margin-top: 13.6em;
            flex-direction: column;
        }

        .points {
            margin: 0 15px;
        }

        .points:nth-of-type(2) {
            margin: 19em 15px 0;
        }
    }

    .contact .checkbox {
        max-width: 90%;
    }

    .hero img {
        width: 17em;
    }

    .hero__capt {
        font-size: 1.6em;
    }
}