@media screen and (max-width: 1900px) {
    .hero {
        width: 22em;
    }

    .hero .btn {
        align-self: center;
        margin-left: -5em;
    }
}

@media screen and (max-width: 1680px) {
    .comparison__wrp {
        align-items: center;
        flex-direction: column;
    }

    .comparison-left {
        margin-bottom: 8em;
    }

    .comparison-right {
        margin: 0;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        min-width: 90%;
    }

    nav {
        display: flex;
        padding: 0;

        .logo {
            display: none;
        }
    }
    
    .hamburger {
        display: block;
        z-index: 20;
    }

    .menu {
        padding-right: 0;
        justify-content: space-between;
        margin: 3em 3em 0;
        width: 100%;

        &:last-child {
            margin-right: 0;
        }

        &__lang {
            margin-right: 1em;
        }

        .hamburger {
            margin-left: -1em;
        }

        .btn {
            order: 2;
        }
    }

    .enter-container {
        display: flex;
        align-items: center;
    }

    .menu__links {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0);
    }

    .links-visible {
        padding: 7em 4em 0 5.5em;
        background: white;
        transform: translate(0, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        height: 100%;
        width: auto;
        z-index: 1;

        .menu__link {
            padding-bottom: 1em;
            a {
                color: black;
            }
        }
    }

    .hero {
        max-width: 33%;
    }

    .contact__text {
        max-width: 100%;
    }

    .services__wrp {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}

@media screen and (max-width: 800px) {
    .heading {
        margin-bottom: 1em;
    }

    .hero {
        max-width: 100%;

        img {
            padding: 1em 0;
        }

        hr {
            display: none;
        }  

    }

    .waves__wrp {
        overflow: hidden;
    }

    .header__waves .waves {
        width: 165%;
        transform: translate(-22%, 2px);
    }

    .footer__bottom {
        flex-direction: column-reverse;
        align-items: center;

        > * {
            margin-bottom: 1em;
        }
    }

    .footer__logo {
        display: none;
    }
}

@media screen and (max-width: 700px) {    
    .map-marker {
        display: none;
    }

    .price {
        img {
            width: 90vw;
        }

        .total {
            text-align: center;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 500px) {
    header {
        height: auto;
        padding-bottom: 6em;
    }

    .header__map {
        display: none;
    }

    .hero {
        max-width: 77%;
        img {
            position: static;
            width: 14em;
            left: -1.8em;
        }

        &__capt {
            font-size: 1em;
            margin-bottom: 1em;
        }

        .btn {
            align-self: center;
            margin: 0;
        }
    }

    .heading__text {
        margin: 2em 0 0 0;
        text-align: center;
    }

    .heading__back {
        display: none;
    }

    .comparison-right {
        &:first-child {
            margin-bottom: 1.5em;
        }
    }

    .services__wrp {
        padding: 0 1em;
    }

    .comparison-left {
        .points-wrp {
            margin-top: 13.6em;
            flex-direction: column;
        }

        .points {
            margin: 0 15px;
        }

        .points:nth-of-type(2) {
            margin: 19em 15px 0;
        }
    }

    .price:first-of-type {
        margin-bottom: 1.5em;
    }

    .price:last-of-type img {
        margin-bottom: 1.5em;
    }

    .contact {
        .checkbox {
            max-width: 90%;
        }
        
        &__text {
            text-align: center;
        }
    }

    .footer__bottom {
        padding-top: 2em;
        padding-bottom: 4em;
    }
}