@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

header {
    background: #fff;
    height: auto;
}

.heading {
    margin: 0 auto;
    max-width: 50%;

    &__front {
        top: -6.6vw;
    }

    &__text {
        text-align: left;
        margin-top: -3em;
        font-weight: 500;
        line-height: 20px;
        font-size: 14px;
    }
}

.feature-desc {
    display: none;
}

body > section:nth-of-type(1) {
    display: block;
}

.feature {
    &__img {
        display: block;
        margin: 2em auto;
    }
}

.icons-wrapper {
    max-width: 50%;
    margin: 0 auto;
}

.feature-icons {
    padding: 2em 0;
    background: url('../images/services/fullfilment/фон.svg') no-repeat;
    background-size: cover;
}

.icons-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(321px, 1fr));
    grid-row-gap: 1em;
}

.icons-wrapper--inline {
    max-width: 100%;
    display: flex;
    justify-content: center;

    .icon {
        padding: 0 3em;
    }
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
        height: 4em;
        margin-bottom: .5em;
    }

    &__desc {
        text-align: center;
        color: white;
    }
}

.arrow-next {
    transform: rotateY(180deg);
}

.feature-carousel {
    margin: 3em 0;

    img {
        cursor: pointer;
    }

    .arrow-prev {
        order: 2;
    }

    .arrow-next {
        order: 4;
    }

    .secondary {
        color: #828282;
    }
}

.glide__slide {
    text-align: center;
    color: #828282;
}

.glide__slide--active {
    color: black;
    transform: scale(1.05);
    transition: transform .1s ease-out;
}

.glide__controls {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-54%, -30%);
    button:first-of-type {
        margin-right: 34em;
    }
}