@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

header {
    background: #fff;
    height: auto;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #0E4367;
}

.links-visible {
    height: unset;
    padding: 7em 4em 12.9%;
    box-shadow: 11px 10px 66px -30px #060608;
}

.heading {
    margin: 0 auto;
    max-width: 50%;

    &__front {
        top: -6.6vw;
    }

    &__text {
        text-align: left;
        margin-top: -3em;
        font-weight: 500;
        line-height: 20px;
        font-size: 14px;
    }
}

.feature-desc {
    display: none;

    &:nth-of-type(2) .feature__img,
    &:nth-of-type(6) .feature__img {
        width: 46%;
    }

    &:nth-of-type(4) .feature__img {
        width: 76%;
    }

    &:nth-of-type(5) .feature__img {
        width: 53%;
    }
}

body > section:nth-of-type(1) {
    display: block;
}

.feature {
    &__img {
        width: 68%;
        display: block;
        margin: 2em auto;
    }

    &:nth-child(2) {
        width: 30%;
    }
}

.feature-icons {
    padding: 2em 0;
    background: url('../images/services/fullfilment/фон.svg') no-repeat;
    background-size: cover;
}

.icons-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 20em);
    grid-row-gap: 2em;
    justify-content: center;
}

.icons-wrapper--inline {
    max-width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: center;

    .icon {
        padding: 0 3em;
    }
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
        height: 4em;
        margin-bottom: .5em;
    }

    &__desc {
        text-align: center;
        color: white;
    }
}

.arrow-next {
    transform: rotateY(180deg);
}

.feature-carousel {
    margin: 2em 0;

    img {
        cursor: pointer;
    }

    .arrow-prev {
        order: 2;
    }

    .arrow-next {
        order: 4;
    }

    .secondary {
        color: #828282;
    }
}

.glide__slide {
    text-align: center;
    color: #828282;
}

.glide__slide--active {
    color: black;
    transform: scale(1.05);
    transition: transform .1s ease-out;
}

.glide__controls {
    width: 34em;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-54%, -30%);
}